{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false // 防止Babel将任何模块都转译成CommonJS类型，导致Webpack的tree-shaking失效
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useESModules": true
      }
    ],
    "react-hot-loader/babel"
  ]
}
